.container{
    width: 600px;
    height: 400px;
    background-color: rgb(234, 190, 13);
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    display: inline-grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 120px 120px; */
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    /* row-gap: 10px;
    column-gap: 10px; */
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.item{
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid #000000;
    text-align: center;
}

/* .one{
    grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1 / span 2; */
    /* grid-column: 1/3; 
} */

.two{
/* grid-row-start: 1;
grid-row-end: 3; */
/* grid-row: 1/4;
grid-row: 1 / span 3; */
/* justify-self: end;
align-self: end;
or  */
place-self: end;
}