#pets{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 300px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    font-family: cursive;
}

h2{
    color: brown;
}
h4{
    color: rgb(0, 109, 192);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 0px 2px rgb(255, 255, 255);
    font-size: 24px;
}

span{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}

img{
    width: 100%;
    border-radius: 25px;
}

@media(max-width: 380px){
    #pets{
        flex-wrap: wrap;
    }
}