<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - page</title>
</head>

<body>
    <h1>This is the home page</h1>
    <h3>
        <%= 1 + 2 %>
    </h3>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid asperiores corrupti reiciendis nemo nobis aut
        fugit voluptas, porro quas minus veritatis error totam saepe tenetur voluptatibus officia explicabo dolorem
        commodi.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore aliquid sit repellendus, quo architecto minima
        amet neque deserunt rem fugiat, repudiandae ratione, dicta sint eos velit excepturi? Amet, suscipit nostrum?
    </p>
    <button>click me</button>
</body>

</html>